*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color:hsl(219, 94%, 67%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-block: 5px;
}

*:focus-within {
  outline: none;
}