/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

/* Card Styling */ 
.card {
  width: 400px;
  height: auto;
  margin-inline: auto;
  padding-block: 2rem;

  &__content {
    text-align: center;
    position: relative;
    padding: 4em;
    transition: transform 2s;
    transform-style: preserve-3d;


    @media (prefers-reduced-motion: 'no-preference') {
      transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }

  @media (hover) {
    &:hover .card__content, &:focus-within .card__content {
      transform: rotateY(.5turn);
    }
  }

  @media (hover: none) {
    .card__content {
      transform: rotateY(.5turn);
    }
  }

  &__front, &__back {
    color:hsl(221, 76%, 44%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18em 2em;
    outline: 10px solid hsl(234, 100%, 4%);
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  &__title {
    font-family: type.$header-font;
    font-size: 4.5rem;
    transform: var.$first-transform;
    position: relative;
    padding-block: 1.8em .2em;
    text-shadow: 2px 1px hsl(240, 100%, 14%);
  }

  &__subtitle {
    font-family: type.$header-font;
    color:hsl(216, 100%, 12%);
    font-size: 1.25rem;
    transform: var.$second-transform;
  }
  
  &__body {
    font-family: type.$body-font;
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  &__front {
    background-image: url('/src/images/junhui.jpg');
    background-size: contain;

    &::before {
      content: "";
      border: 5px solid hsl(230, 98%, 20%);
      position: absolute;
      transform: var.$third-transform;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }

  &__back {
    transform: rotateY(.5turn);
    background-color:hsl(197, 100%, 75%);
    transform-style: preserve-3d;

    &--title {
      font-family: type.$header-font;
      position: absolute;
      top: 0;
      left: 0;
      margin-inline: auto;
      padding-block: 1rem;
      width: 100%;
      color: hsl(197, 90%, 81%);
      background-color: hsl(229, 100%, 12%);
    }
  }
}

hr {
  width: 85%;
  height: 3px;
  border-width: 0;
  background-color: hsl(219, 63%, 35%);
  margin-inline: auto;
  transform: var.$third-transform;
}

.info {
  text-transform: uppercase;
  padding-block-start: 6ch;
  padding-block-end: 1rem;
  padding-inline-start: .5ch;
  letter-spacing: .2em;
  transform: var.$second-transform;

  &__birthday, &__favoriteanimal, 
  &__zodiacsign, &__hobbies {
    position: relative;
    font-weight: bold;
  }
}

.group-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  padding-block: 2rem;
  transform: var.$second-transform;
}

.group {
  display: flex;
  flex-direction: column;

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color:hsl(0, 0%, 0%);
    line-height: 1.5;
  }

  &__icon {
    width: 100%;
    height: 100%;
    max-width: 60px;
    text-align: center;
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
    padding-block-start: 1ch;
  }
}

.solosongs {
  width: 100%;
  margin-inline: auto;
  margin-block-start: 2rem;
  transform: var.$second-transform;

  &__label {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: .2ch;
    text-shadow: 1px 1px hsl(229, 100%, 11%);
    padding-block-end: .4rem;
  }

  &__list {
    justify-content: center;
    padding-block-start: 1em;
    font-weight: bold;
    line-height: 1;
    color:hsl(229, 100%, 11%);
  }
}